# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Login.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Workspace\Login\.idea\.idea.Login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
